<%= form_for(nanny) do |f| %>
  <% if nanny.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nanny.errors.count, "error") %> prohibited this nanny from being saved:</h2>

      <ul>
      <% nanny.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
