<div class="cases_index" id="cases_index">
	<div class="container text-center">
		<h3>您有<%=@cases.count%>筆預約紀錄</h3>

			<div class="cases_index" id="css_table">
				<%if current_user.profile.type == "Nanny"%>
					<div class="css_tr">
						<div class="row">
	      			<div class="col-sm-6 col-xs-12">
	      				<div class="css_th">聯絡人</div>
	      				<div class="css_th">姓名</div>

	      				<div class="css_th">日期</div>
	      				<div class="css_th">時間</div>

							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="css_th">地點</div>
								<div class="css_th">詳細資料</div>
								<div class="css_th"></div>
								<div class="css_th">預約狀態</div>
							</div>
						</div>
					</div>
				<%else%>
					<div class="css_tr">
						<div class="row">
	      			<div class="col-sm-6 col-xs-12">
	      				<div class="css_th">聯絡人</div>
	      				<div class="css_th">姓名</div>

	      				<div class="css_th">日期</div>
	      				<div class="css_th">時間</div>

							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="css_th">估計費用</div>
								<div class="css_th">詳細資料</div>
								<div class="css_th"></div>
								<div class="css_th">預約狀態</div>
							</div>
						</div>
					</div>
				<%end%>

					<%= render :partial => "cases_list" ,:collection => @cases, :as => :cases %>

			</div>
	</div>
</div>