<section class="bg-4tep" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>臨時找不到可靠的保母照顧寶貝嗎？</h4>
        <h2 class="section-heading">只要四個步驟</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img class="icon" src="http://placehold.it/80x80">
          <h5>開始</h5>
          <h3>加入平台</h3>
          <p class="text-muted">平台採取NT$99/月費機制，體驗期間免費註冊加入平台，只要提供基本資料，就可以立刻開始搜尋</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img class="icon" src="http://placehold.it/80x80">
          <h5>步驟一</h5>
          <h3>APP/網頁搜尋</h3>
          <p class="text-muted">依需求選擇托育日期和時段以及托育區域</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img class="icon" src="http://placehold.it/80x80">
          <h5>步驟二</h5>
          <h3>參考保母簡介</h3>
          <p class="text-muted">透過個人資歷介紹以及過去合作爸媽所給的公開評價選擇保母，私訊保母問問題</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img class="icon" src="http://placehold.it/80x80">
          <h5>步驟三</h5>
          <h3>預約保母</h3>
          <p class="text-muted">確定希望合作的保母人選之後，立刻線上發出預約</p>
        </div>
      </div>

    </div>

  </div>
</section>


<section class="img-and-rating" id="rating">
  <div class="container">
    <row>
      <div class="col-lg-6 col-md-12 text-center">
        <img class="icon" src="http://placehold.it/200x400">
      </div>
      <div class="col-lg-6 col-md-12 text-center">
        <div class="service-box">
          <img class="icon" src="http://placehold.it/54x54">

          <h2>看評價找保母</h2>
          <p class="text-muted">想多了解平台上的保母嗎? 不如從過去家長評價開始。 每次完成托育案件，家長都能夠立即提供服務評價。</p>
        </div>
      </div>
    </row>
  </div>
</section>

<section class="bg-promote" id="bg-promote">
  <div class="container-full">
    <div class="container">
      <div class="col-lg-6 col-md-12 text-center">
          <div class="service-box">
            <h2>Bananny托育小幫手9/1上線<br>限時免費加入平台</h2>
            <br>
            <h4 class="text-muted">大安區、信義區搶先提供服務，其他區域即將陸續上線</h4>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="our-service" id="our-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>我們的服務</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-12 text-center">
        <div class="service-box img-rounded">
          <img class="icon" src="http://placehold.it/70x70">
          <h4>立案專業保母</h4>
          <p class="text-muted">台北市合法登記的保母，經過政府認證</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 text-center">
        <div class="service-box img-rounded">
          <img class="icon" src="http://placehold.it/70x70">
          <h4>24hr到府服務</h4>
          <p class="text-muted">Bananny專門解決臨時到府托育需求，讓寶寶安心待在最熟悉的家中</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 text-center">
        <div class="service-box img-rounded">
          <img class="icon" src="http://placehold.it/70x70">
          <h4>3分鐘完成搜尋</h4>
          <p class="text-muted">孩子的照顧不能等，從註冊到預約只要3分鐘!</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="img-and-profile" id="img-and-profile">
  <div class="container">
    <row>

      <div class="col-lg-6 col-md-12 text-center">
        <div class="service-box">
          <h2>查看保姆個人資料</h2>
          <p class="text-muted">您可以觀看保母的個人資料，或其他爸爸媽媽給他的評價還選擇想要的保母。</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 text-center">
        <img class="icon" src="http://placehold.it/480x360">
      </div>

    </row>
  </div>
</section>

<section class="feedback" id="feedback">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>其他爸爸媽媽告訴我們...</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-12">
        <div class="service-box">
          <img class="img-circle" src="http://placehold.it/200x200">
          <div class="text-body">
            <p class="text-muted">保母是個注重衛生的人，也很好溝通！</p>
            <p class="text-muted pull-right">- 小凱媽咪 (38)</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="service-box">
          <img class="img-circle" src="http://placehold.it/200x200">
          <div class="text-body">
            <p class="text-muted ">跟保母喬時間非常彈性！合作很愉快 </p>
            <p class="text-muted pull-right">- 小幼媽咪 (35)</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="service-box">
          <img class="img-circle" src="http://placehold.it/200x200">
          <div class="text-body">
            <p class="text-muted">幫了我們很大的忙！不用再麻煩公公婆婆了！ </p>
            <p class="text-muted pull-right">- 小寶媽咪 (40)</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>