<h2>search</h2>

	<%= form_tag root_path ,:method => :get do %>

	開始 <%= text_field_tag :start_date, "開始時間","id" => "datetimepicker" ,:required => :true %>
	結束	<%= text_field_tag :end_date,"結束時間" ,"id" => "datetimepicker2",:required => :true %>
	<%= submit_tag "SUBMIT" ,:class => "btn btn-primary pull-right" %>
<%end%>


<script>
	jQuery.datetimepicker.setLocale('zh-TW');
	jQuery('#datetimepicker').datetimepicker({
	 	datepicker:true,
	 	defaultTime:'08:00',
	 	step:30
	});
	jQuery('#datetimepicker2').datetimepicker({
	 	datepicker:true,
	 	defaultTime:'20:00',
	 	step:30
	});

</script>