
<div class="container-full">
	<div class="bg">

		<% if @search_nanny %>
			<div class="container">
				<div id="search-result">
					<div class="row">
				  	<%= render :partial => "result" ,:collection => @search_nanny, :as => :nanny %>
					</div>
				</div>
			</div>
		<%else%>
			<div id="index-registered">
				<%= render "users/registered" %>
			</div>

			<div id="index-default">
				<%= render "users/index_default" %>
			<%end%>
	</div>
</div>


