<h2>Build Schedule</h2>

		<%=form_for build_schedule ,:url => nanny_schedules_path(nanny) do |f|%>
	<br>
	開始 <%= f.text_field :start_date, "id" => "datetimepicker" ,:required => :true ,:placeholder => "開始時間" %>
	<%#= f.datetime_field :start_date %>
	<%#= f.time_select :start_date, :ampm => true, :minute_step => 30 %>

		<br>
	結束
	<%#= f.time_select :end_date, :ampm => true, :minute_step => 30 %>
	<%#= f.datetime_field :end_date %>
	<%= f.text_field :end_date, "id" => "datetimepicker2",:required => :true ,:placeholder => "結束時間" %>
	<%= f.submit "SUBMIT" ,:class => "btn btn-primary pull-right" %>
<%end%>


<script>
	jQuery.datetimepicker.setLocale('zh-TW');
	jQuery('#datetimepicker').datetimepicker({
	 	datepicker:true,
	 	defaultTime:'08:00',
	 	step:30
	});
	jQuery('#datetimepicker2').datetimepicker({
	 	datepicker:true,
	 	defaultTime:'20:00',
	 	step:30
	});

</script>