<h2>Build Schedule</h2>

		<%=form_for build_schedule ,:url => nanny_schedules_path(nanny) do |f|%>
	<%= f.text_field :start_date,"id" => "build-datetimepicker" ,:required => :true,:placeholder => "開始時間" ,:autocomplete =>"off" %>
	<%= f.text_field :end_date,"id" => "build-datetimepicker2",:required => :true ,:placeholder => "結束時間",:autocomplete =>"off" %>
	<%= f.submit "建立時間表" ,:class => "btn btn-search" %>
<%end%>


<script>
	// jQuery.datetimepicker.setLocale('zh-TW');
	// jQuery('#datetimepicker').datetimepicker({
	//  	datepicker:true,
	//  	defaultTime:'08:00',
	//  	step:30
	// });
	// jQuery('#datetimepicker2').datetimepicker({
	//  	datepicker:true,
	//  	defaultTime:'20:00',
	//  	step:30
	// });

	jQuery.datetimepicker.setLocale('zh-TW');

	jQuery('#build-datetimepicker').datetimepicker({
		minDate:'0',
		step:30

	});

	jQuery('#build-datetimepicker2').datetimepicker({

		onShow:function( ct ){
	  this.setOptions({
	    minDate:jQuery('#build-datetimepicker').val()?jQuery('#build-datetimepicker').val():false
	   })
	  },

	 	step:30
	});

</script>