

	<div class="media ">
		<div class="media-body blockquote-reverse well">
		  <h4 class="media-heading"> <%=comment.comment%></h4>
 		</div>
		<div class="media-right">
			<%= image_tag comment.user.profile.image.thumb,:class => "img-circle" %>
		</div>

	</div>


