

	<div class="media ">
		<div class="media-left">
			<%= image_tag comment.user.profile.image.thumb,:class => "img-circle" %>
		</div>
		<div class="media-body well">
		  <h4 class="media-heading"> <%=comment.comment%></h4>
 		</div>


	</div>


