<div id="footer" class="footer-container">

      <div class="container">
        <div class="text-center">
          <div class="footer-tilte">
            <h4>有問題？找最新消息？</h4>
          </div>
          <ul class="footer-body text-center">
            <a href="#">
              <li>
              <%=image_tag("icon_mainpage_fb.png", size: "50x50",:class => "img-circle") %>
              </li>
            </a>
            <a href="#">
              <li>

              <%=image_tag("icon_mainpage_email.png", size: "50x50",:class => "img-circle")%>

              </li>
            </a>
          </ul>
          </div>
          <div class="footer-bottom text-center">
            <h4>Bananny, Inc</h4>
          </div>
        </div>
      </div>
    </div>
