<h3>行事曆</h3>
<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:800px;'>
 	<div class="dhx_cal_navline">
   	<div class="dhx_cal_prev_button">&nbsp;</div>
   	<div class="dhx_cal_next_button">&nbsp;</div>
   	<div class="dhx_cal_today_button"></div>
   	<div class="dhx_cal_date"></div>
   	<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
   	<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
   	<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
 	</div>
 	<div class="dhx_cal_header">
 	</div>
 	<div class="dhx_cal_data">
 	</div>
</div>

<script>
	scheduler.config.xml_date="%Y-%m-%d %H:%i";
  scheduler.config.time_step = 30;
  scheduler.config.max_month_events = 5;
  scheduler.config.server_utc = true;
  scheduler.init("scheduler_here");
  scheduler.load("<%= data_nanny_path(nanny) %>", "json");

<%if nil%>
  var dp = new dataProcessor("<%= db_action_path(nanny) %>");
  dp.init(scheduler);
  dp.setTransactionMode("GET", false);
<%end%>


  scheduler.templates.event_class = function(start,end,ev){
  if(ev.text != ''){
    return "bg_alex";
  }
  console.log(ev);
};
  scheduler.templates.event_bar_date = function(start,end,ev){
            return "";
         };



  scheduler.attachEvent("onBeforeDrag",function(){return false;})
  scheduler.attachEvent("onClick",function(){return false;})
  scheduler.config.dblclick_create = false;
  scheduler.attachEvent("onDblclick",function(){return false;})
</script>
<style>
.bg_alex .dhx_title, .bg_alex .dhx_body{
  background-color: red;
}
</style>