
<%case status%>
<%when "build"%>
	<span class="label label-primary">新案件</span>
<%when "booking"%>
	<span class="label label-info">預約中</span>
<%when "success"%>
	<span class="label label-success">預約成功</span>
<%when "cancel"%>
	<span class="label label-danger">預約取消</span>
<%when "complete"%>
	<span class="label label-warning">已結案</span>
<%end%>





